---
- name: Validate required inputs
  assert:
    that:
      - instance_ip | length > 0
      - target_group_name | length > 0
    fail_msg: "Please provide 'instance_ip' and 'target_group_name' using -e option."

- name: Fetch Target Group ARN from TG name
  community.aws.elb_target_group_info:
    region: "{{ region }}"
    names: ["{{ target_group_name }}"]
  register: tg_info

- name: Fail if target group not found
  fail:
    msg: "Target Group '{{ target_group_name }}' not found in region {{ region }}"
  when: tg_info.target_groups | length == 0

- name: Set Target Group ARN fact
  set_fact:
    target_group_arn: "{{ tg_info.target_groups[0].target_group_arn }}"

- name: Fetch EC2 instance ID from private IP
  community.aws.ec2_instance_info:
    region: "{{ region }}"
    filters:
      private-ip-address: "{{ instance_ip }}"
  register: ec2_info

- name: Fail if EC2 not found
  fail:
    msg: "No instance found with IP {{ instance_ip }} in region {{ region }}"
  when: ec2_info.instances | length == 0

- name: Set EC2 facts
  set_fact:
    instance_id: "{{ ec2_info.instances[0].instance_id }}"
    instance_state: "{{ ec2_info.instances[0].state.name }}"

- name: Display instance details
  debug:
    msg:
      - "Instance ID: {{ instance_id }}"
      - "State: {{ instance_state }}"
      - "Target Group ARN: {{ target_group_arn }}"

- name: Set target ports based on input
  set_fact:
    target_ports: >-
      {% if ports is defined %}
        {% set p = ports | lower %}
        {% if p == 'http' %}80
        {% elif p == 'https' %}443
        {% else %}{{ ports }}{% endif %}
      {% else %}80{% endif %}

- name: Convert target_ports to list of integers
  set_fact:
    target_ports: "{{ target_ports | split(',') | map('int') | list }}"

- name: Register instance to Target Group
  when: instance_state in ['running', 'stopped']
  community.aws.elb_target:
    region: "{{ region }}"
    target_group_arn: "{{ target_group_arn }}"
    target_id: "{{ instance_id }}"
    target_port: "{{ item }}"
    state: present
  loop: "{{ target_ports }}"
